<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab_Mngt_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OTHLogin</display-name>
    <servlet-name>OTHLogin</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.OTHLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTHLogin</servlet-name>
    <url-pattern>/OTHLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOLoginServlet</display-name>
    <servlet-name>LOLoginServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.LOLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOLoginServlet</servlet-name>
    <url-pattern>/LOLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTMLoginServlet</display-name>
    <servlet-name>OTMLoginServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.OTMLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTMLoginServlet</servlet-name>
    <url-pattern>/OTMLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLabServlet</display-name>
    <servlet-name>AddLabServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.AddLabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLabServlet</servlet-name>
    <url-pattern>/AddLabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLabDetailsServlet</display-name>
    <servlet-name>ViewLabDetailsServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewLabDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLabDetailsServlet</servlet-name>
    <url-pattern>/ViewLabDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLabServlet</display-name>
    <servlet-name>DeleteLabServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.DeleteLabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLabServlet</servlet-name>
    <url-pattern>/DeleteLabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLabRequestServlet</display-name>
    <servlet-name>AddLabRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.AddLabRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLabRequestServlet</servlet-name>
    <url-pattern>/AddLabRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewLabRequestServlet</display-name>
    <servlet-name>viewLabRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.viewLabRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewLabRequestServlet</servlet-name>
    <url-pattern>/viewLabRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLabRequestServlet</display-name>
    <servlet-name>ApproveLabRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ApproveLabRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLabRequestServlet</servlet-name>
    <url-pattern>/ApproveLabRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineLabRequestServlet</display-name>
    <servlet-name>DeclineLabRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.DeclineLabRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineLabRequestServlet</servlet-name>
    <url-pattern>/DeclineLabRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLabReleaseRequestServlet</display-name>
    <servlet-name>ApproveLabReleaseRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ApproveLabReleaseRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLabReleaseRequestServlet</servlet-name>
    <url-pattern>/ApproveLabReleaseRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineLabReleaseRequestServlet</display-name>
    <servlet-name>DeclineLabReleaseRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.DeclineLabReleaseRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineLabReleaseRequestServlet</servlet-name>
    <url-pattern>/DeclineLabReleaseRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLabExtensionRequestServlet</display-name>
    <servlet-name>ApproveLabExtensionRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ApproveLabExtensionRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLabExtensionRequestServlet</servlet-name>
    <url-pattern>/ApproveLabExtensionRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineLabExtensionRequestServlet</display-name>
    <servlet-name>DeclineLabExtensionRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.DeclineLabExtensionRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineLabExtensionRequestServlet</servlet-name>
    <url-pattern>/DeclineLabExtensionRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewApprovedRequestServlet</display-name>
    <servlet-name>ViewApprovedRequestServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewApprovedRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApprovedRequestServlet</servlet-name>
    <url-pattern>/ViewApprovedRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLabReleaseServlet</display-name>
    <servlet-name>AddLabReleaseServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.AddLabReleaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLabReleaseServlet</servlet-name>
    <url-pattern>/AddLabReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewApprovedReleaseServlet</display-name>
    <servlet-name>ViewApprovedReleaseServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewApprovedReleaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApprovedReleaseServlet</servlet-name>
    <url-pattern>/ViewApprovedReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLabExtensionServlet</display-name>
    <servlet-name>AddLabExtensionServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.AddLabExtensionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLabExtensionServlet</servlet-name>
    <url-pattern>/AddLabExtensionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewApprovedExtensionServlet</display-name>
    <servlet-name>ViewApprovedExtensionServlet</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewApprovedExtensionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApprovedExtensionServlet</servlet-name>
    <url-pattern>/ViewApprovedExtensionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLabDetailsServletLO</display-name>
    <servlet-name>ViewLabDetailsServletLO</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewLabDetailsServletLO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLabDetailsServletLO</servlet-name>
    <url-pattern>/ViewLabDetailsServletLO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLabDetailsServletOTH</display-name>
    <servlet-name>ViewLabDetailsServletOTH</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewLabDetailsServletOTH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLabDetailsServletOTH</servlet-name>
    <url-pattern>/ViewLabDetailsServletOTH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLabDetailsServletOTM</display-name>
    <servlet-name>ViewLabDetailsServletOTM</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.ViewLabDetailsServletOTM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLabDetailsServletOTM</servlet-name>
    <url-pattern>/ViewLabDetailsServletOTM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLabsCity</display-name>
    <servlet-name>GetLabsCity</servlet-name>
    <servlet-class>com.lab_mngt.Servlet.GetLabsCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLabsCity</servlet-name>
    <url-pattern>/getlabs</url-pattern>
  </servlet-mapping>
</web-app>